
body,
.board,
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 470px;
    height: 470px;
    background-color: aqua;

}

.tile {
    width: calc(100% / 3 - 10px);
    height: calc(100% / 3 - 10px);
    border: 1px solid black;
    font-size: 10rem;
    color: aliceblue;
}

.win{
    background-color: rgb(25, 69, 69);
    color: red;
}
.container {
    position: absolute;
    top: 32rem;
    font-size: 2rem;
}